{% assign pages = site.pages | sort: "weight"  %}

{% assign currentUrlParts = page.url | split: '/' %}
{% assign currentLevel = currentUrlParts | size %}
{% assign pageName = currentUrlParts | last %}

{% if pageName contains '.html' %}
  {% assign currentBaseUrl = page.url | remove: pageName %}
{% else %}
  {% assign currentBaseUrl = page.url %}
  {% assign pageName = '' %}
{% endif %}

{% for node in pages %}
  {% if node.url contains currentBaseUrl %}
    {% assign nodeUrlParts = node.url | split: '/' %}
    {% assign nodeLevel = nodeUrlParts | size %}
    {% assign filename = nodeUrlParts | last %}
    {% if filename contains '.html' %}
      {% assign nodeBaseUrl = node.url | remove: filename %}
      {% if currentBaseUrl == nodeBaseUrl %}
        {% if page.url == node.url %}
          <li class="level2 active"><a href='{{site.baseurl}}{{node.url}}'>{{node.title}}</a></li>
        {% else %}
          <li class="level2"><a href='{{site.baseurl}}{{node.url}}'>{{node.title}}</a></li>
        {% endif %}
      {% endif %}
    {% endif %}
  {% endif %}
{% endfor %}
