<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de" dir="ltr">


    <title>{{ page.title }} - {{ site.siteName }}</title>
    <meta http-equiv="Content-Language" content="de" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/style.css" />
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/syntax.css" />
    <link rel="shortcut icon" href="{{site.baseurl}}/img/favicon.ico" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed' rel='stylesheet' type='text/css' />
    <link href='https://fonts.googleapis.com/css?family=Source+Code+Pro' rel='stylesheet' type='text/css' />
</head>

<body>

{% include header.html %}

<div class="container">

    <div id="navigation">
        {% include searchbox.html %}

        <ul>
        {% include navigation.html %}
        </ul>
    </div>

    <div id="content">
        <div id="content-wrapper">
    {{ content }}
        </div>
    </div>

</div>

{% include footer.html %}

</body>

</html>
